/* Comman */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

button , body{
    font-family: 'Sora', sans-serif;
}

.clear{
 clear: both;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .5);
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: sans-serif;
}

.hover-opacity:hover{
    opacity: 0.8;
}
.section-header {
    text-align: center;
    margin-top: 150px;
}
.section-header .section-title {
    text-transform: uppercase;
    font-size: 45px;
}
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
position: absolute;
content: " ";
width: 0;
height: 100%;
background-color: #333;
top: 0;
left: 0;
transition: width 1s;
z-index: -1;
}
.ltr-effect:hover:after{
    width: 100%;
}
/* END COMMOM */

/* HEADER */

.header{
position: absolute;
width: 100%;
z-index: 1;
}

.header .container .logo{
    width: 40%;
    float: left;
    font-size: xx-large;
    color:#fff;
}
.header .container .logo div{
    font-weight: bold;
}
.header .container .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}
.header .container .nav > li {
    float: left;
    margin: 15px;
    text-align: right;
}
.header .container .nav > li > a {
    color: #fff;
    text-decoration: none;
}
.header .container .nav > li > a.active:after ,
.header .container .nav > li > a:after {
    content: " ";
    display: block;
    margin-top: 2px;
    height: 3px;
    background-color: #6195ff;
    transition: width 0.5s;
}
.header .container .nav > li > a.active:after{
    width: 100%;
}
.header .container .nav > li > a:after{
    width: 0;
}
.header .container .nav > li > a:hover:after{
    width: 100%;
}
.drop{
position: relative;
}
.drop-down {
list-style: none;
position: absolute;
width: 120px;
height: 40px;
background-color: #6195ff;
text-align: center;
top: 120%;
left: -50%;
border-radius: 5px;
font-size: 15px;
opacity: 0;
visibility: hidden;
transition: opacity 0.5s , visibilty 0.5s;
}

.drop-down li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding:10px;
}

.drop:hover .drop-down{
    opacity: 1;
    visibility: visible;
}

/* EDN HEADER */


/* HOME */
.home{
    height: 100vh;
    background-image: url(../images/air.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.home-content{
    text-align: center;
    position: absolute;
    width: 65%;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%);
}
.home-title {
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-transform: capitalize;
}
.home-description{
    color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    line-height: 2px;
    text-transform: capitalize;
}
.home .btn {
    width: 160px;
    height: 55px;
    border-style: none;
    margin: 25px 5px;
    border-radius: 5px;
    font-weight:200;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
.home .btn-learn{
    background-color:#6195ff;
    color: #fff;
}
.home .btn-started{
    background-color: #fff;
}
/* END HOME */


/* START SECTION-HEADER */
.section-header .line{
    width: 100px;
    height: 5px;
    margin: auto;
    background-color: #6195ff;
    display: block;
    margin-top: 10px;
}
/* END SECTION-HEADER */


/* START ABOUT-SECTION */
.about-section{
margin-top: 80px;
}
.about-section .section:hover .head{
    color: #fff;
}
.divs{
    width: 100%;
    height: 400;    
    margin: 10px;
    overflow: hidden;

}
.about-section .section{
    float: left;
    width: 32%;
    height: 80%;
    border: .2px solid #e8e8e8;
    text-align: center;
    padding: 2%;
}
.about-section .section2{
    margin-left: 2%;
    margin-right: 2%;
}
.about-section .section .icon{
    color: #6195ff;
    margin-bottom: 20px;
}
.about-section .section .head{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 10px;
    transition: color 2s;
}
.about-section .section .sec {
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 20px;
    color: grey;
}
.about-section .section .readmore{
    text-decoration: none;
    color: #6195ff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}
/* END ABOUT-SECTION */


/* START PORTOFOLIO-SECTION */
.portofolio-section {
    background-color: #e8e8e8;
    padding-top: 10px;
}
.portofolio-content {
    overflow: hidden;
    height: 700;
    margin-top: 50px;

}
.portofolio-content .imgs{
    width: 32%;
    height: 330px;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding: 15px;
}
.portofolio-section .portofolio-content .imgs img{
    width: 100%;
    height: 100%;
}
.imgm.imgs{
    margin: 0 2%;
}
.portofolio-content .imgs .portofolio-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, .5);
    transition: opacity 1s, visibility 1s ;
    opacity: 0;
    visibility: hidden;
}
.portofolio-content .imgs:hover .portofolio-layer{
    opacity: 1;
    visibility: visible;
}
.portofolio-content .imgs .portofolio-layer .portofolio-layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 60%;
    height: 80%;
    text-align: center;
}
.portofolio-content .imgs .portofolio-layer .portofolio-layer-info span{
    color: #6195ff;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: block;
}
.portofolio-content .imgs .portofolio-layer .portofolio-layer-info h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;

}
.portofolio-content .imgs .portofolio-layer .portofolio-layer-info .porto-icon{
    background-color: #6195ff;
    color: #fff;
    padding: 5px;
    margin: 13px 0;

}
/* END PORTOFOLIO-SECTION */



/* START OFFER SECTION */
.offer .parent{
    margin-top: 40px;
    overflow: hidden;
}
.offer .parent .offer-items{
    width: 30%;
    text-align: left;
    float: left;
    border: 1px solid #e8e8e8;
    margin: 15px;
    position: relative;
}
.offer .parent .offer-items .offer-icon{
    position: absolute;
    display: block;
    top: 25px;  
    left: 10px;
    color: #6195ff;

}
.offer .parent .offer-items .offer-title{
    padding:25px 10px 5px 60px;
    text-transform: capitalize;
    transition:color 2s;

}
.offer .parent .offer-items .offer-desc{
    padding:25px 20px 30px 60px;
    line-height: 1.5;
    color: grey;

}
.offer .offer-items:hover .offer-title{
    color: #fff;
}
/* END OFFER SECTION */



/* START CHOOSE US SECTION */
.choose-us{
    background-color: #e8e8e8;
}
.choose-us .choose-content{
    overflow: hidden;
}
.choose-us .choose-content .choose-items{
    float: left;
    width: 50%;
}
.choose-us .choose-content .left{
    text-align: left;
}
.choose-us .choose-content .left .choose-desc{
    color: grey;
    line-height: 1.6;
    margin-bottom: 20px;
}
.choose-us .choose-content .left .choose-list{
    list-style: none;
}
.choose-us .choose-content .left .choose-list .choose-list-items{
    margin-bottom: 10px;
}
.choose-us .choose-content .left .choose-list .choose-icon{
    border: 1px solid #6195ff;
    color: #6195ff;
    border-radius: 50%;
    padding: 5px;
}

.choose-us .choose-content .choose-header {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 40px;
}
.choose-us .choose-content .choose-title{
    text-transform: capitalize;
    font-size: 30px;
}
.choose-us .choose-content .choose-line{
        width: 40px;
        height: 3px;
        background-color: #6195ff;
        display: block;
        margin-top: 10px;
}

.choose-us .choose-content .right{
    text-align: center;
    overflow: hidden;
}

.choose-us .choose-content .right img{
    width: 100%;
    height: 90%;
    padding:100px 0 100px 50px;
}
/* END CHOOSE US SECTION */




/* START COUNT */
.count-section{
    background-image: url(../images/air.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 250px;

}
.count-section .counters{
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.count-section .counters .count-items{
    float: left;
    width: 25%;
    text-align: center;
    padding:50px;
}
.count-section .counters .count-items .count-icon{
    color: #6195ff;
    margin-bottom: 10px; 
}
.count-section .counters .count-items .count-header{
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}
.count-section .counters .count-items .count-span{
    color: #fff;
    text-transform: capitalize;

}
.count-overlay{
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .7);
}
/* END COUNT */

/* START NEWS */
.news-section .news-items{
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
}
.news-section .news-items .new{
    float: left;
    width: 32%;
    text-align: left;
    background-color: #e8e8e8;

}
.news-section .news-items .new.mg{
    margin: 0 2%;
}
.news-section .news-items .new .new-image {
width: 100%;
height: 250px;
    
}
.news-section .news-items .new .new-image img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.news-section .news-items .news-content{
    padding: 20px 25px;
}
.news-section .news-items .new .news-list{
    list-style: none;
    margin-bottom: 15px;
}
.news-section .news-items .new .news-list li{
    color: #6195ff;
    margin: 5px;
}
.news-section .news-items .new .news-list li span{
    color: black;
    margin-left: 3px;
}
.news-section .news-items .news-content .news-header{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 23px;
}
.news-section .news-items .news-content .news-desc{
    color: grey;
    line-height: 1.4;
    margin:15px 0;
    text-transform: capitalize;
}
.news-section .news-items .news-content a{
    text-decoration: none;
    color: #6195ff;
    text-transform: capitalize;
    font-size: 15px;
    display: block;
    margin-bottom: 30px;
}
/* END NEWS */


/* START FOOTER */
.footer{
    background-color: #1c1d21;
    margin-top: 150px;
    height: 400px;

}
.footer .footer-content{
    text-align: center;
}
.footer .footer-content .footer-logo{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 30px 20px;
}
.footer .footer-content .footer-list{
    list-style: none;
}
.footer .footer-content .footer-list li{
    padding: 10px;
    margin: 20px;
    color: #fff;
}
.footer .footer-content .footer-list li:hover{
    color: #6195ff;
}
.footer .footer-content .footer-desc{
    color: grey;
    text-transform: capitalize;
    font-size: 20px;
}
.footer .footer-content .footer-desc span{
    color: #6195ff; 
}
/* END FOOTER */